body {
  background: rgb(0,255,242);
  background: linear-gradient(45deg, rgba(0,255,242,1) 0%, rgb(107,0,255) 100%);
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}
h4 {
  font-weight: bold;
}

/* themes according to month */
.normalBg{
  background: url(./images/texture.jpg);
}
.newYearBg {
  background: url(./images/newYear.jpg);
}
.easterBg {
  background: url(./images/easter.jpg);
}
.halloweenBg {
  background: url(./images/halloween.jpg);
}
.christmasBg {
  background: url(./images/christmas.jpg);
}
.mainSquares {
  background-repeat:no-repeat;
  background-size: cover;
  -webkit-box-shadow: 6px 6px 23px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 23px 1px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 23px 1px rgba(0,0,0,0.75);
  font-size: 0.8rem;
}
.mainHeaders {
  padding-top: 12px;
}
hr {
  width: 80%;
  border-top: 1px solid rgb(107,0,255);
  margin-top: 1px;
  padding-bottom: 1px;
}
.lastTwo {
  border-top: 1px solid rgb(0, 255, 242);
  margin-top: 1px;
}
/* rounding square borders */
.roundedCorners {
  border-radius: 80px 2%;
}
select, input {
  width: 95%;
  border-radius: 8px;
  font-size: 16px;
}
.label {
  width: 40%;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.buttonsFirst {
  background: rgb(107,0,255);
  color: white;
  border-radius: 8px;
  padding: 10px 0;
  transition: 0.2s ease-in-out;
}
.buttonsFirst:hover {
  background: rgb(0,255,242);
  color: black;
}
.buttonsLast {
  background: rgb(0,255,242);
  border-radius: 8px;
  padding: 10px 0;
  transition: all 0.2s ease-in-out;
}
.buttonsLast:hover {
  background: rgb(107,0,255);
  color: white;
}
.reset {
  background: rgb(255, 81, 0);
  color: white;
  border-radius: 8px;
  padding: 10px 0;
  transition: all 0.2s ease-in-out;
}
.reset:hover {
  background: #ff0000;
}

/* desktop */
@media (min-width: 768px) {
  .menuOffset1 {
    display: none;
  }
  .menuOffset {
    display: none;
  }
  .mainSquares {
    min-height: 380px;
    max-width: 300px;
    margin: 8px 0px;
    height: calc(50vh - 16px);
  }
  h4 {
    font-size: 1.25rem;
  }
  .firstThirdSquare {
    margin-left: auto;
  }
  .main {
    height: 85%;
  }
  .mainFields {
    height: 12%;
  }
  p {
    margin: 0;
  }
  .lastField {
    height: 28%;
  }
  .result {
    padding-top: 4px;
    margin-bottom: 0;
  }
  button {
    margin-top: 12px;
  }
}
/* mobile */
@media (max-height: 500px) {
  .mainSquares {
    height: calc(100vh - 16px);
  }
}
@media (max-width: 767.98px) {
  html {
    scroll-behavior: smooth;
  }
  .navbarContent {
    color: white;
  }
  .scrolled {
      background: rgba(106, 0, 255, 0.9);
      transition: all 0.5s ease-in-out;
  }
  .initialNav {
    background: rgb(107,0,255);
  }
  /* element to offset scroll */
  .menuOffset1 {
    margin: 0;
    height: 56px;
  }
  .menuOffset {
    margin: 0;
    position: absolute;
    height: 56px;
    margin-top: -56px;
  }

  /* hamburger menu */
  .navbar-toggler {
    margin: 0;
  }
  .icon-bar {
  	width: 22px; 
  	height: 2px;
    background-color: white;
    border-radius: 20px;
  	display: block;
	  transition: all 0.2s;
	  margin-top: 4px
  }

  .navbar-toggler {
    border: none;
    background: transparent !important;
  }
  .open .top-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
    width: 20px;
  }
      
  .open .middle-bar {
    /* opacity: 0; */
    width: 15px;
    transform: rotate(-10deg) translate(2px, -6px);
  }
      
  .open .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  /* flicker effect */
  .flicker {
    animation: lightning .8s ease-out infinite alternate;
    animation-delay: .2s;
  }
  /* main content */
  .mainSquares {
    margin: 10px 0;
    height: calc(100vh - 78px);
    min-height: 600px;
  }
  h4 {
    font-size: 1.75rem;
  }
  hr {
    margin-bottom: 20px;
  }
  .mainFields {
    height: 10vh;
  }
  .lastField {
    margin-top: 20px;
  }
  p {
    font-size: 1rem;
  }
}
/* for flicker effect */
@keyframes lightning {
    0% {
        background: #fff351;
    }
    10% {
        background: #fff132;
    }
    12% {
        background: transparent;
    }
    14% {
        background: #fff132;
    }
    16% {
        background: transparent;
    }
    18% {
        background: #fff351;
    }
    20% {
        background: transparent;
    }
    30% {
        background: #fff01a;
    }
    90% {
        background: transparent;
    }
    100% {
        background: #fff45d;
    }
}