body {
  background: yellow;
}
.mainSquares {
  background: tomato;
  max-width: 600px;
}

/* desktop */
@media (min-width: 768px) {
  .mainSquares {
    height: 50vh;
  }
  .menuOffset1 {
    display: none;
  }
  .menuOffset {
    display: none;
  }
}



/* mobile */
@media (max-width: 767.98px) {
  html {
    scroll-behavior: smooth;
  }
  /* element to offset scroll */
  .menuOffset1 {
    margin: 0;
    height: 56px;
  }
  .menuOffset {
    margin: 0;
    position: absolute;
    height: 56px;
    margin-top: -56px;
  }

/* hamburger menu */
  .icon-bar {
  	width: 22px; 
  	height: 2px;
    background-color: #000000;
    border-radius: 20px;
  	display: block;
	  transition: all 0.2s;
	  margin-top: 4px
  }

  .navbar-toggler {
    border: none;
    background: transparent !important;
  }
  .open .top-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
  }
      
  .open .middle-bar {
    /* opacity: 0; */
    width: 15px;
    transform: rotate(-10deg) translate(2px, -6px);
  }
      
  .open .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .mainSquares {
    margin: 10px 0;
    height: calc(100vh - 78px);
  }
}